
/*styles here*/
body{
	/*background: lightblue;*/
	/*background image here*/
}
.racers{
	length: 700px;
	background-color: pink;
}
.player1{
	background-color:yellow;
	border: 1px solid black;
	height: 60px;
	width: 60px;
	margin: 20px;
	position:relative;
}
.player2{
	background-color:red;
	border: 1px solid black;
	height: 60px;
	width: 60px;
	margin: 20px;
	position:relative;
}